<div>
<div class="card" style="width: 18rem;">
  <img src="{{ product.thumbnail }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.description }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Precio: ${{ product.price }}</li>
    <li class="list-group-item">Codigo del producto: {{ product.code }}</li>
    <li class="list-group-item">Cantidad disponible: {{ product.stock }}</li>
  </ul>
</div>
</div>