<div>
    <h2>Lista de productos disponibles</h2>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Titulo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Precio</th>
      <th scope="col">URL de la imagen</th>
      <th scope="col">Cantidad disponible</th>
    </tr>
  </thead>
  {{#each products}}
  <tbody>
    <tr>
        <th scope="row">{{ this.code }}</th>
        <td>{{ this.title }}</td>
        <td>{{ this.description }}</td>
        <td>${{ this.price }}</td>
        <td>{{ this.thumbnail }}</td>
        <td>{{ this.stock }}</td>
    </tr>
  </tbody>
  {{/each}}
</table>
